footer
    #footer-container
        .footer-section
            h2.footer-heading Let's Keep In Touch!
            h2.mobile-footer-heading Get In Touch!
            .footer-content
                .footer-link-container.phone
                    svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M19.9994 14.9738V17.9846C20.0017 18.5498 19.7651 19.0898 19.3478 19.4718C18.9305 19.8539 18.3712 20.0427 17.8072 19.9918C14.7128 19.6563 11.7404 18.601 9.1289 16.9108C6.69922 15.3699 4.63927 13.3141 3.09534 10.8892C1.39587 8.27098 0.338248 5.29008 0.00816924 2.18795C-0.0426402 1.62681 0.145204 1.07019 0.525814 0.654067C0.906425 0.237942 1.44475 0.000629267 2.0093 9.86731e-05H5.02608C6.03556 -0.00981707 6.89598 0.728681 7.03727 1.72629C7.1646 2.68982 7.40074 3.63587 7.74118 4.54641C8.01746 5.27992 7.84075 6.10682 7.28867 6.66401L6.01156 7.93859C7.44308 10.4512 9.52758 12.5315 12.0451 13.9602L13.3222 12.6856C13.8805 12.1346 14.7091 11.9583 15.444 12.234C16.3564 12.5738 17.3043 12.8094 18.2698 12.9365C19.2809 13.0789 20.0247 13.955 19.9994 14.9738Z', fill='#3A36FF')
                    span.footer-text 832 952 8939
                .footer-link-container.github
                    a(href='https://github.com/jesusMdza', target='_blank')
                        svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M10.0001 0C4.47791 0 0 4.59026 0 10.2531C0 14.7832 2.86533 18.6266 6.83867 19.9824C7.33844 20.0773 7.52192 19.76 7.52192 19.4891C7.52192 19.2446 7.51265 18.437 7.50834 17.5802C4.72631 18.2004 4.13927 16.3704 4.13927 16.3704C3.68437 15.1853 3.02894 14.8702 3.02894 14.8702C2.12163 14.2338 3.09733 14.2469 3.09733 14.2469C4.10151 14.319 4.63026 15.3035 4.63026 15.3035C5.52217 16.871 6.96965 16.4178 7.5403 16.1558C7.63006 15.4933 7.88921 15.0406 8.1752 14.7848C5.95405 14.5255 3.61913 13.6463 3.61913 9.71757C3.61913 8.59815 4.00977 7.68349 4.64947 6.96545C4.54564 6.70703 4.20335 5.66435 4.74635 4.25204C4.74635 4.25204 5.58609 3.97647 7.49708 5.30304C8.29476 5.07586 9.15024 4.96193 10.0001 4.95803C10.8499 4.96193 11.7061 5.07586 12.5052 5.30304C14.4139 3.97647 15.2525 4.25204 15.2525 4.25204C15.7968 5.66435 15.4544 6.70703 15.3505 6.96545C15.9917 7.68349 16.3797 8.59815 16.3797 9.71757C16.3797 13.6557 14.0403 14.5228 11.8135 14.7766C12.1722 15.0948 12.4918 15.7188 12.4918 16.6754C12.4918 18.0471 12.4802 19.1513 12.4802 19.4891C12.4802 19.762 12.6602 20.0817 13.1671 19.981C17.1383 18.6237 20 14.7817 20 10.2531C20 4.59026 15.5227 0 10.0001 0Z', fill='#3A36FF')
                        span.footer-text /jesusMdza
                .footer-link-container.resume
                    a(href='/static/pdf/Resume_Jesus_Mendoza.pdf', target='_blank')
                        svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M4 0H10.001L10 6.98428L10.0068 7.10273C10.061 7.56903 10.431 7.93901 10.8973 7.99317L11.0157 8L18 7.999V18C18 19.0544 17.1841 19.9182 16.1493 19.9945L16 20H4C2.94564 20 2.08183 19.1841 2.00549 18.1493L2 18V2C2 0.945638 2.81588 0.0818349 3.85074 0.00548574L4 0ZM12.031 1.031L16.968 5.968L12.0305 5.96785L12.031 1.031Z', fill='#3A36FF')
                        span.footer-text See My Resume                 
                .footer-link-container.email
                    a(href='mailto:jesuszmendoza14@gmail.com')
                        svg(width='21', height='20', viewBox='0 0 21 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M20.25 5.222L20.2501 16.04C20.2501 17.1431 19.3388 18.0457 18.2251 18.0457H2.02509C0.91134 18.0457 8.98043e-05 17.1431 8.98043e-05 16.04L0 5.222L9.55531 11.8475L9.67337 11.9179C9.95703 12.0616 10.2931 12.0616 10.5768 11.9179L10.6949 11.8475L20.25 5.222ZM18.2251 2C18.9853 2 19.6511 2.42047 19.9973 3.0382C19.9237 3.05721 19.8515 3.08504 19.7821 3.12188L19.6803 3.18392L10.1251 9.808L0.569869 3.18392L0.462346 3.11885C0.394962 3.08362 0.324935 3.05678 0.253613 3.0381C0.598366 2.42092 1.26451 2 2.02509 2H18.2251Z', fill='#3A36FF')
                        span.footer-text jesuszmendoza14@gmail.com
                .footer-link-container.linkedin
                    a(href='https://www.linkedin.com/in/jesus-mendoza-99b043169/', target='_blank')
                        svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', clip-rule='evenodd', d='M18.1908 0H1.80916C0.81 0 0 0.81 0 1.80916V18.1908C0 19.19 0.81 20 1.80916 20H18.1908C19.19 20 20 19.19 20 18.1908V1.80916C20 0.81 19.19 0 18.1908 0ZM6.18885 17.2693C6.18885 17.5601 5.95314 17.7958 5.66236 17.7958H3.4212C3.13042 17.7958 2.89471 17.5601 2.89471 17.2693V7.8745C2.89471 7.58372 3.13042 7.34801 3.4212 7.34801H5.66236C5.95314 7.34801 6.18885 7.58372 6.18885 7.8745V17.2693ZM4.54178 6.46241C3.36592 6.46241 2.41267 5.50916 2.41267 4.3333C2.41267 3.15743 3.36592 2.20419 4.54178 2.20419C5.71764 2.20419 6.67089 3.15743 6.67089 4.3333C6.67089 5.50916 5.7177 6.46241 4.54178 6.46241ZM17.901 17.3117C17.901 17.5791 17.6843 17.7958 17.417 17.7958H15.012C14.7447 17.7958 14.528 17.5791 14.528 17.3117V12.905C14.528 12.2476 14.7208 10.0243 12.81 10.0243C11.3279 10.0243 11.0272 11.5461 10.9669 12.2291V17.3117C10.9669 17.5791 10.7502 17.7958 10.4828 17.7958H8.15681C7.88948 17.7958 7.67272 17.5791 7.67272 17.3117V7.83209C7.67272 7.56476 7.88948 7.34801 8.15681 7.34801H10.4828C10.7501 7.34801 10.9669 7.56476 10.9669 7.83209V8.65173C11.5164 7.82696 12.3332 7.19037 14.0722 7.19037C17.9231 7.19037 17.901 10.7881 17.901 12.7648V17.3117Z', fill='#3A36FF')
                        span.footer-text /jesus-mendoza-99b043169     
