extends layout

block content
    div.wrapper
        div.container
            div
                h1 Who Am I
            div.section
                p Hi, I'm Jesus. A 
                    span#purple.semibold Front-End Developer 
                    | based in Houston.
                p(style='margin-top: 30px') I'm passionate about learning, growing and reaching my full potential in life. Curious about the unknown and amazed how one can create something out of nothing. 
        div.container
            div
                h1 What I Know
            div.section
                p The majority of my skillset centers around the world of JavaScript.
                p Technologies include HTML, CSS, JavaScript, jQuery, Object-Oriented Programming, Node.js, Express and Pug/Jade.
        div.container
            div
                h1 Why Choose Me
            div.section
                p Focus, determined, open-minded and humble. I strongly value and care for the work I do. Giving my all and always striving for perfection.
                p(style='margin-top: 30px') Each outcome in life as an opportunity to learn. I examine where I can push further and where I can make adjustments.
                p(style='margin-top: 30px') Contact me 
                    span.semibold 
                        a(href='') here 
                    | and let's make a great team.
                p 
                    | Want to view my resume? Click 
                    b 
                        a(href='') here
                    |.