doctype html
html(lang="en")
    head
        title Jesus Mendoza | Front-End Developer | Houston Texas
        link(rel='shortcut icon', type='image/x-icon', href='/static/favicon/favicon.ico')
        link(rel='stylesheet' href='/static/main.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap', rel='stylesheet')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name='format-detection', content='telephone=no')
        style.
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                *::-ms-backdrop, [data-aos^=fade][data-aos^=fade],[data-aos^=zoom][data-aos^=zoom] {
                    opacity: 1; 
                    transform: none;
                } 
            }
    body
        div#loading-mask(style="display: block;")
        include includes/header.pug
        block content
        script(src='/static/js/preloader.js')
        script(src='/static/@glidejs/glide/dist/glide.min.js')
        script(src='/static/animejs/lib/anime.min.js')
        script(src='/static/aos/dist/aos.js')
        script(src='/static/js/glide.js')
        script(src='/static/js/animations.js')
        script(src='/static/scroll-into-view/scrollIntoView.min.js')
        script(src='/static/js/scrollDown.js')