doctype html
html(lang="en")
    head
        title Jesus Mendoza | Front-End Developer | Houston Texas
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' href='/static/@glidejs/glide/dist/css/glide.core.min.css')
        link(rel='stylesheet' href='/static/@glidejs/glide/dist/css/glide.theme.min.css')
        link(rel='stylesheet' href='/static/styles.min.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='/static/aos/dist/aos.css')
    body
        include includes/header.pug
        block content
        script(src='/static/@glidejs/glide/dist/glide.min.js')
        script(src='/static/animejs/lib/anime.min.js')
        script(src='/static/aos/dist/aos.js')
        script(src='/static/js/glide.js')
        script(src='/static/js/animations.js')
