doctype html
html(lang="en")
    head
        title Jesus Mendoza | Front-End Developer | Houston Texas
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Heebo:500,700,900&display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600&display=swap')
        link(rel='stylesheet', href='/static/styles.css')
    body
        include includes/header.pug
        block content
        include includes/footer.pug
        script(src='../static/js/popup.js')