* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #2C2B3A;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    vertical-align: middle;
}

a span {
    vertical-align: middle;
}

h1 {
    font-size: 4.833vw;
    letter-spacing: -1.13043px;
    color: #2C2B3A;
}

h2 {
    font-size: 3.583vw;
    font-weight: 700;
}

h3 {
    font-size: 2.417vw;
    font-weight: 600;
    color: #2C2B3A;
}

h4 {
    font-size: 1.3em;
    color: #2C2B3A;
}

p, .word {
    font-size: 1.500vw;
    font-weight: 400;
    line-height: 1.6em;
    color: #2C2B3A;
}

footer {
    height: 500px;
}

footer a {
    color: #FFF;
}

img {
    vertical-align: bottom;
}

svg {
    transition: .25s ease;
    vertical-align: bottom;
}

/**************** NAV STYLES *********************/

.nav-container {
    height: 4.6875em;
}

/* .logo {
    position: fixed;
}

.hamburger {
    position: fixed;
} */

.logo svg{
    width: 4.6875em;
    height: 4.6875em;
}

.nav-container li {
    z-index: 22;
}

.hamburger svg {
    width: 3.75em;
    height: 3.75em;
    cursor: pointer;
    z-index: 100;
}
  
.nav-container {
    margin: 90px auto 0 auto;
    width: 82%;
}

.nav-container li {
    margin-right: auto;
}

.mobile-nav-container {
    margin: 35px auto 0 auto;
    width: 91%;
}

.popup-nav-menu ul {
    position: relative;
}

.popup-nav-menu h1 {
    margin-bottom: .2em;
}

.popup-nav-menu h1 a {
    transition: 300ms ease;
}

.popup-nav-menu h1 a:hover {
    opacity: .5;
}

.mobile-nav-container li,
.popup-nav-menu li {
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.mobile-nav-container .hamburger,
.popup-nav-menu .popup-hamburger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-nav-menu {
    width: 100%;
    height: 100%;
    background: #3A36FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    transform: translateX(-100%);
}

.popup-nav-menu h1 a {
    color: #FFF;
}

.mobile-nav-container .popup-nav-menu .close {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
}

.popup-links ul {
    width: 100%;
    margin-top: 100px;
    display: block;
}

.popup-links ul li {
    text-align: center;
    font-size: 2.8em;
}

.popup-links ul li:nth-child(0n+1) {
    margin-bottom: 30px;
}

.nav-link {
    padding-left: 20px;
}

.wrapper {
    width: 82%;
    margin: 10.625em auto;
}

.container.intro p {
    margin-bottom: 11.25rem;
}

.container:nth-child(1n+2) {
    margin-top: 13.125em;
}

.container.projects.work {
    margin-top: 8em;
}

.spaced-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaced-container .scroll-down .arrow-container {
    margin-right: 20px;
}

.spaced-container .scroll-down .arrow-container svg {
    width: 1.5625em;
    height: 1.0625em;
}

.spaced-container span {
    color: #3A36FF;
    font-weight: 700;
    letter-spacing: 2px;
}

.section {
    width: 56%;
    padding-top: 2.1875em;
}

.section.project-content {
    width: 100%;
}

.section .subheading {
    word-spacing: 10px;
}

.section .subheading .word {
    display: inline-block;
}

.technology {
    display: flex;
    flex-direction: column;
}

.wrk-container {
    padding-top: 130px;
}

.indx-proj-container {
    display: flex;
    align-items: center;
}

.proj-details p {
    font-size: 1.333vw;
    padding-top: .8em;
    padding-bottom: 2.6em;
}

.projects .indx-proj-container:nth-child(even) {
    justify-content: flex-end;
}

.projects .indx-proj-container:nth-child(1n+2) {
    padding-top: 27.25em;
}

.projects .indx-proj-container:nth-child(odd) .project-thumbnail{ 
    margin-right: 8em;
}

.projects .indx-proj-container:nth-child(even) .project-thumbnail{
    margin-left: 8em;
}

.projects .indx-proj-container:nth-child(even) .proj-details {
    order: -1;
}

.projects .indx-proj-container .project-thumbnail {
    max-width: 41.667vw;
    min-width: 41.667vw;
}

.skills-container {
    color: #FFF;
    background: #161621;
    padding-top: 13.125em;
    padding-bottom: 15.625em;
}

.skills-container .content {
    width: 82%;
    margin: 0 auto;
}

.skills-container .content h2 {
    margin-bottom: 1.625em;
}

.skills-container .content .skills-container-subheading {
    margin-bottom: 1.625em;
}

.project-description {
    width: 70%;
}

.thumbnail-description,
.project-description {
    font-size: 1.6em;
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 2em;
}

.thumbnail {
    width: 60em;
}

.large {
    width: 100%;
    height: 25vw;
}

.slider {
    box-shadow: 0px 4px 24px rgba(97, 101, 131, 0.287943);
    margin-top: 8em;
    width: 99.9%;
}

.slider .x-large {
    box-shadow: none;
    margin-top: 0;
}

.x-large {
    width: 100%;
    margin-top: 8em;
    box-shadow: 0px 4px 24px rgba(97, 101, 131, 0.287943);
}

.cover {
    object-fit: cover;
}

.project-thumbnail {
    box-shadow: 0px 4px 24px rgba(97, 101, 131, 0.287943);
}

.bar-light,
.bar-dark {
    width: 100%;
    height: 1.9375em;
    padding: 0px .75em;
    display: flex;
    align-items: center;
}

.circle-light,
.circle-dark {
    width: .625em;
    height: .625em;
    margin-right: .5em;
    border-radius: 100px;
}

.bar-light {
    background: #fff;
}

.circle-light {
    background: #D3D3D4;
}

.bar-dark {
    background: #3C3D40;
}

.circle-dark {
    background: #606166;
}

.links svg {
    margin-right: .8em;
}

.links-intro svg {
    width: 2.8125em;
    height: 2.8125em;
}

.links-intro a:first-child {
    margin-right: 2.1875em;
}

.project-details-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.technology {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    row-gap: 6.25em;
    column-gap: 12.5em;
}

.technology-container-silver {
    margin-right: 2.5em;
}

.technology-container,
.technology-container-silver {
    display: flex;
    flex-direction: column;
}

.technology-container svg{
    width: 3.4375rem;
    height: 3.4375rem;
    margin: 0 auto 2em auto;
}

.technology-container-silver svg {
    width: 3.125em;
    height: 3.125em;
    margin: 0 auto .7em auto;
}

.technology-container span,
.technology-container-silver span {
    text-align: center;
    font-size: 1rem;
}

.technology-list {
    display: flex;
}

.technology-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-links {
    align-items: center;
}

.section .project-links span {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.section span {
    font-size: 1.3em;
}

.section.project-content .technology-container-silver span {
    font-size: 1em;
    font-weight: 500;
    color: #909299;
}

.section h4 {
    margin-bottom: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.technology-container.ex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.technology-icon {
    width: auto;
    height: 80px;
    margin-right: 50px;
}

.technology-icon.express {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.technology-project-icon {
    width: 40px;
    height: 40px;
}

/******************* FOOTER STYLES ************************/

#footer-container {
    margin: 0 auto;
    width: 82%;
    padding-top: 9.375em;
    padding-bottom: 15.625em;
}

.footer-section:nth-child(0n+1) {
    margin-right: 10em;
}

.footer-content {
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 54px;
}

.footer-content svg {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1.2em;
}

.footer-content span {
    font-size: 1.2rem;
    color: #3A36FF;
    font-weight: 500;
}

.footer-link-container,
.footer-link-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info,
.contact-info a {
    cursor: pointer;
    transition: .25s ease;
}

.contact-info:hover,
.contact-info a:hover {
    color: rgb(87, 104, 255);
}

.scroll-down {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.scroll-down span {
    text-transform: uppercase;
}

.arrow-container {
    display: flex;
    flex-direction: column
}

.see-all-work {
    display: flex;
    justify-content: center;
}

#footer-container .mobile-footer-heading {
    display: none;
}
/************* BUTTON STYLES ********************/

button {
    outline: none;
    cursor: pointer;
    display: inline;
    align-items: center;
}

.primary {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: 4px solid #3A36FF;
    padding: 1.1875rem 4.0625rem;
    background: #3A36FF;
    letter-spacing: 0.125em;
    transition: all .3s ease;
}

.primary span,
.primary-large span {
    color: #FFF;
}

.primary-large {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: 0.25em solid #3A36FF;
    padding: 1.1em 1.8em;
    background: #3A36FF;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.primary-large svg {
    width: .9em;
    height: 1.9em;
    margin-right: .8em;
}

.secondary {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: 0.25em solid #3A36FF;
    padding: .91em 0.9375em;
    background: transparent;
    letter-spacing: 0.125em;
    transition: all .3s ease;
}

.secondary span {
    color: #3A36FF;
    margin-right: 8px;
    transition: all 0.3s ease;
}

.secondary svg {
    width: 0.9375em;
    height: 1.25em;
    transition: all 0.3s ease;
}

.secondary svg path {
    transition: all 0.3s ease;
}

.secondary-large {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border: 0.25em solid #3A36FF;
    padding: 1.1em 1.8em;
    background: transparent;
    letter-spacing: 2px;
    margin-right: 2.1em;
    transition: all .3s ease;
}

.secondary-large svg {
    width: 1.6em;
    height: 1.9em;
    margin-right: .8em;
}

.secondary-large svg path {
    transition: all .3s ease;
}

.secondary-large span {
    color: #3A36FF;
    transition: all .3s ease;
}

.primary:hover,
.primary-large:hover{
    background: #171666;
    border: 0.25em solid #171666;
}

.secondary:hover,
.secondary-large:hover {
    border: 0.25em solid #211F91;
}

.secondary:hover span,
.secondary-large:hover span {
    color: #211F91;
}

.secondary:hover svg path {
    stroke: #211F91;
}

.secondary-large:hover svg path {
    fill: #211F91;
}

.primary span,
.primary-large span,
.secondary span,
.secondary-large span {
    vertical-align: middle;
}

.primary svg,
.primary-large svg,
.secondary svg,
.secondary-large svg {
    vertical-align: middle;
}

/********************* GLIDE.JS SLIDER STYLES ***************************/

.glide1 {
    position: relative;
}

.glide__slides {
    max-height: 770px;
}

.glide__arrow {
    box-shadow: none;
    padding: 80px 30px;
    border: none;
}

.glide__arrow svg {
    width: 30px;
    height: 30px;
}

.glide__arrow--left {
    left: -7em;
}

.glide__arrow--right {
    right: -7em;
}

.glide__bullets {
    position: absolute;
    z-index: 2;
    bottom: -3em;
    left: 50%;
    display: inline-flex;
    list-style: none;
    transform: translateX(-50%);
}

.glide__bullet {
    background-color: #FFF;
    width: 1.25em;
    height: 1.25em;
    padding: 0;
    border-radius: 50%;
    border: 3px solid #3A36FF;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: none;
    margin: 0 0.6em;
}

.glide__bullet:hover, .glide__bullet:focus {
    border: 3px solid #3A36FF;
    background-color: #3A36FF; 
}

.glide__bullet--active {
    background-color: #3A36FF; 
}

/************* BREAKPOINT STYLES ********************/

@media (min-width: 768px) and (max-width: 1600px) {

    .x-large {
        width: 100%;
        margin-top: 5em;
    }
}

@media (min-width: 1201px) and (max-width: 1440px) {

    .nav-container,
    .wrapper,
    .skills-container .content,
    #footer-container {
        width: 83%
    }

    .wrapper,
    .skills-container,
    .skills-container .content,
    .skills-container .content .subheading
    #footer-container {
        font-size: .8em;
    }

    .section {
        width: 55%;
        padding-top: 35px;
    }

    .nav-container li {
        font-size: .9em;
    }

    .container.intro p {
        margin-bottom: 9.25rem;
    }

    .primary,
    .primary-large,
    .secondary,
    .secondary-large {
        font-size: .98rem;
    }

    /* .primary-large,
    .secondary-large {
        border: 3px solid #3A36FF;
        padding: 12px 32px;
    } */

    .secondary-large {
        margin-right: 1.5em;
    }

    .links-intro svg {
        width: 41px;
        height: 41px;
    }

    .arrow-container {
        font-size: .9em;
    }

    .spaced-container span {
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    h3 {
        font-size: 2.6vw;
    }

    .proj-details p {
        font-size: 1.5vw;
    }

    .project-thumbnail {
        font-size: 13px;
    }

    .footer-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    }

    .footer-section:nth-child(0n+1) {
        margin-right: 0;
    }

    .footer-content svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1.2em;
    }
    
    .footer-content span {
        font-size: 1rem;
        color: #3A36FF;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .nav-container,
    .wrapper,
    .skills-container .content,
    #footer-container {
        width: 85%
    }

    .wrapper,
    .skills-container,
    .skills-container .content,
    #footer-container {
        font-size: .6em;
    }

    .nav-container {
        margin: 70px auto 0 auto;
        width: 85%;
    }

    .nav-container li {
        font-size: .7em;
    }

    h1 {
        font-size: 6vw;
        letter-spacing: -1.13043px;
        color: #2C2B3A;
    }

    h3 {
        font-size: 3vw;
    }

    p, .word {
        font-size: 1.9vw;
        line-height: 1.7em;
    }

    .section {
        width: 70%;
    }

    .projects .indx-proj-container:nth-child(1n+2) {
        padding-top: 16em;
    }

    .proj-details p {
        font-size: 1.6em;
    }

    .container.intro p {
        margin-bottom: 7rem;
    }

    .primary {
        font-size: .9rem;
    }

    .secondary {
        font-size: .7rem;
    }

    .primary-large,
    .secondary-large {
        font-size: .63rem;
        border: 0.1875em solid #3A36FF;
    }

    .primary-large:hover {
        border: 0.1875em solid #171666;
    }

    .secondary-large:hover {
        border: 0.1875em solid #211F91;
    }

    .spaced-container .scroll-down .arrow-container {
        margin-right: 10px;
    }

    .spaced-container span {
        font-size: 13px;
        letter-spacing: 1.5px;
    }

    .glide__bullets {
        bottom: -4em;
    }

    .glide__bullet {
        width: 1.2em;
        height: 1.2em;
    }

    .technology {
        grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
        row-gap: 10.25em;
        column-gap: 14.5em;
    }

    .technology-container svg {
        width: 2.2rem;
        height: 2.2rem;
    }

    .technology-container span, .technology-container-silver span {
        font-size: .8rem;
    }

    .footer-content {
        grid-template-columns: repeat(auto-fit, minmax(245px, 277px));
    }

    .footer-section:nth-child(0n+1) {
        margin-right: 0;
    }

    .footer-content svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.5em;
    }
    
    .footer-content span {
        font-size: .87rem;
    }
}

@media (max-width: 850px) {

    .project-details-section {
        display: block;
    }

    .technology-list {
        margin-bottom: 2.5rem;
    }

    .project-description {
        width: 100%;
        padding-top: 4.5em;
    }

    .primary-large {
        width: 100%;
        font-size: .7rem;
        border: 3px solid #3A36FF;
        padding: 8px 10px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .primary-large svg {
        width: 0.625rem;
        height: 1.3125rem;
    }

    .secondary-large {
        width: 100%;
        font-size: .7rem;
        border: 3px solid #3A36FF;
        padding: 8px 10px;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .secondary-large svg {
        width: 1.3125rem;
        height: 1.3125rem;
    }

    .project-links {
        display: flex;
        justify-content: space-between;
    }

    .section .project-links span {
        letter-spacing: 1.6px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .wrapper,
    .skills-container,
    .skills-container .content,
    #footer-container {
        font-size: .2em;
    }
 
    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1.8rem
    }

    h3 {
        font-size: 1.2rem;
        line-height: 32px;
    }

    p {
        font-size: .85rem;
        line-height: 2em;
    }

    svg {
        width: 1.875rem;
        height: 1.875rem;
    }

    .wrapper {
        width: 86%;
        margin: 4.5625rem auto 1.875rem auto;
    }

    .logo svg {
        width: 2.4375em;
        height: 2.4375em;
    }

    .nav-container {
        height: 2.4375em;
    }

    .hamburger svg {
        width: 2.125em;
        height: 2.125em;
    }

    .nav-container {
        width: 86%;
        margin: 28px auto 0 auto;
    }

    .container.intro p {
        margin-bottom: 2.375rem;
    }

    .scroll-down span {
        font-size: .62rem;
    }

    .spaced-container .scroll-down .arrow-container {
        margin-right: 0.5625rem;
    }

    .spaced-container .scroll-down .arrow-container svg {
        width: 0.875rem;
        height: 0.5625rem;
    }

    .projects .indx-proj-container .project-thumbnail {
        max-width: none;
        min-width: none;
    }

    .projects .indx-proj-container:nth-child(odd) .project-thumbnail {
        margin-right: 0;
    }

    .projects .indx-proj-container:nth-child(even) .project-thumbnail {
        margin-left: 0;
    }

    .projects .indx-proj-container:nth-child(even) .proj-details {
        margin-left: 0;
        margin-right: 0;
    }

    .links-intro {
        display: none;
    }

    .container:nth-child(1n+2) {
        margin-top: 5rem;
    }

    .section {
        width: 100%;
        padding-top: 0.9375rem;
    }

    .section h4 {
        font-size: .8rem;
        letter-spacing: 1.5px;
    }

    .wrk-container {
        padding-top: 50px;
    }

    .spaced-container span {
        letter-spacing: 1.5px;
    }
    
    .indx-proj-container {
        padding-top: 0;
        display: block;
    }

    .proj-details {
        margin-top: 3rem;
    }

    .large {
        height: initial;
    }

    .bar-light, .bar-dark {
        height: 0.75rem;
        padding: 0px 0.25rem;
    }

    .circle-light, .circle-dark {
        width: 0.25rem;
        height: 0.25rem;
        margin-right: 0.25rem;
    }

    .slider {
        width: initial;
        margin-top: 2.5rem;
    }
    
    .container.projects.work {
        margin-top: 5rem;
    }

    .x-large {
        width: 100%;
        margin-top: 3rem;
    }

    .project-links svg {
        margin-right: .6rem;
    }

    .proj-details {
        margin-top: 1.6rem;
    }

    .thumbnail-description,
    .project-description,
    .proj-details p {
        font-size: .8rem;
        width: 100%;
    }

    .proj-details p {
        padding-bottom: 2.5em;
    }

    .project-links span {
        font-size: 1rem;
    }

    .see-all-work {
        margin-bottom: 70px;
    }

    .primary {
        font-size: .65rem;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        border: 3px solid #3A36FF;
        padding: 11px 32px;
        background: #3A36FF;
        letter-spacing: 1.5px;
    }

    .secondary {
        font-size: .65rem;
        border: 3px solid #3A36FF;
        padding: 11px 10px;
        letter-spacing: 1.5px;
    }

    .primary:hover,
    .primary-large:hover{
        background: #171666;
        border: 3px solid #171666;
    }

    .secondary:hover,
    .secondary-large:hover {
        border: 3px solid #211F91;
    }

    .secondary span {
        margin-right: 3px;
    }

    .secondary svg {
        width: 8px;
        height: 12px;
    }

    .technology-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 60px));
        row-gap: 5.25em;
        column-gap: 3.5em;
    }

    .technology-container-silver svg {
        width: 2.2rem;
        height: 2.2rem;
        margin: 0 auto .8rem auto;
    }

    .section.project-content .technology-container-silver span {
        font-size: .6rem;
    }

    .skills-container {
        padding-top: 4.6875rem;
        padding-bottom: 5.625rem;
    }

    .skills-container .content {
        width: 86%;
        margin: 0 auto;
    }

    .skills-container .content h2 {
        margin-bottom: 2rem;
    }

    .technology {
        row-gap: 100.25em;
        column-gap: 50.5em;
    }

    .technology-container span {
        font-size: .8rem;
    }

    .technology-container svg {
        width: 2.2rem;
        height: 2.2rem;
        margin: 0 auto 1.1rem auto;
    }

    .glide__bullets {
        bottom: -9em;
    }

    .glide__bullet {
        width: .8em;
        height: .8em;
        border: 2px solid #3A36FF;
        margin: 0 0.4em;
    }

    .mobile-nav-container {
        display: block;
    }

    .x-one {
        transform: rotate(45deg);
        position: absolute;
        top: 11px;
        right: 3px;
    }

    .x-two {
        transform: rotate(-45deg);
        position: absolute;
        top: 11px;
        right: 3px;
    }

    #footer-container {
        width: 86%;
        padding-top: 4.5625rem;
        padding-bottom: 0;
    }

    .footer-content {
        margin-top: 3rem;
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    .footer-content svg {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: .8rem;
    }

    .footer-content span {
        font-size: .7rem;
    }

    .footer-content .footer-link-container {
        margin-bottom: 1.5625rem;
    }

    .footer-section:nth-child(0n+1) {
        margin-bottom: 5rem;
        margin-right: 0;
    }

    #footer-container .footer-heading {
        display: none;
    }

    #footer-container .mobile-footer-heading {
        display: block;
    }

    .footer-link-container.phone {
        order: 1;
    }

    .footer-link-container.github {
        order: 3;
    }

    .footer-link-container.resume {
        order: 5;
    }

    .footer-link-container.email {
        order: 2;
    }

    .footer-link-container.linkedin {
        order: 4;
    }
    
    .popup-nav-menu h1 {
        margin-bottom: .8rem;
    }
}

@media (max-width: 320px) {
    .section .project-links span {
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }

    .section .project-links span {
        letter-spacing: 1.4px;
    }

    .secondary-large {
        margin-right: 1.5em;
    }
    
}